@model CatalogueRequestModel

@{
    ViewData["Title"] = "Add catalogue item";

}

<h1>@ViewData["Title"]</h1>


<form asp-controller="Library" asp-action="AddToCatalogue" method="post">
    <label>
        Book Title
        <input name="title" type="text" asp-for="Title" />
    </label>
    <label>
        Author
        <input type="text" name="author" asp-for="Author" />
    </label>
    <label>
        Publication Year
        <input type="text" name="publicationYear" asp-for="PublicationYear" />
    </label>
    <button type="submit">Submit</button>
</form>

@* post endpoint in our form that *@



<!-- Title = title,
                    Author = author,
                    PublicationYear = publicationYear -->
<!-- 
<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1 class="page-title">Create Post</h1>
<form method="post" action="/posts/create">
    <label>
        Blog Title:
        <input type="text" required name="message"/>
    </label>
    <label> 
        Blog image URL:
        <input type="text" required name="imageUrl">    
    </label>
    <button type="submit">Submit</button>
</body>
<%- include('_footer') -%>
</html> -->

<!--
      id: number;
  message: string; i.e. a title
  imageUrl: string; an image
  createdAt: Date;  don't need to collect
  postedBy: PostUserModel; don't need to collect 
  likedBy: PostUserModel[];
  dislikedBy: PostUserModel[]; -->