@model CopyOfBookRequestModel

@{
    ViewData["Title"] = "Add a book of a catalogue item";

}

<h1>@ViewData["Title"]</h1>

<p> Page in progress </p>

<!-- New HTTP Post request in Controller for this asp-action -->
<form asp-controller="Library" asp-action="AddBookCopy" method="post">
    <label>
        Condition
        <input name="condition" type="text" asp-for="Condition" />
    </label>
    <label>
        Catalogue_Id - what is the book a copy of?
        <input name="catalogue_id" type="text" asp-for="Catalogue_id" />
    </label>
    <button type="submit">Submit</button>
</form>