<p> Page in progress </p>

<!-- New HTTP Post request in Controller for this asp-action -->
<form asp-controller="Library" asp-action="AddToCatalogue" method="post">
    <label>
In progress
    </label>
    <button type="submit">Submit</button>
</form>