@model List<Catalogue>;

<p>Search by book title:</p>

<form asp-controller="Library" asp-action="GetBookByTitle">
    <p>
        Title: <input type="text" name="SearchString" />

        <input type="submit" value="Filter" />
    </p>
</form>


<p>List of all books that meet your search criteria:</p>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publication Year</th>
    </tr>
    @foreach (Catalogue bookItem in Model)
    {
        <tr>
            <td>@bookItem.Title</td>
            <td>@bookItem.Author</td>
            <td>@bookItem.PublicationYear</td>
        </tr>
    }
</table>
